// ======================================
//  Utilities mixins
// ======================================

//Main font
@mixin text(
    $color: $color-dark,
    $size: 1rem,
    $height: 1.5,
    $font: $font-stack-primary,
    $weight: null
) {
    color: $color;
    font-size: $size;
    line-height: $height;
    font-family: $font;
    font-weight: $weight;
}

// Center containers
@mixin center($w) {
  width: $w;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

// Create a flex container
@mixin flex(
    $disp: flex,
    $dir: null,
    $wrap: null,
    $just: null) {
    display: $disp;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
}
