// ======================================
//  Utilities variables
// ======================================

// Colours
$color-dark: #292e2f;
$color-medium: #555d5a;
$color-light-medium: #f2f2f2;
$color-light: #f8f8f8;
$white: #fff;


$color-accent-red: #e3695c;
$color-accent-blue: #549594;

// Fonts
$font-stack-primary: 'Rubik', sans-serif;

// layout
$max-width: 1000px;

// Border radius
$br: 4px;

//margin bottom
$margin-small: .5em;
$margin-large: 1.5em;

//box shadow
$shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

//container border
$border: 3px solid rgba($color-medium, .2);

//Round image
$round: 50%;

// Break points
$brk-mobile : 'min-width: 320px';
$brk-mobile-wide: 'min-width: 340px';
$brk-tablet : 'min-width: 768px';
$brk-desktop : 'min-width: 1024px';
