// ======================================
//  Utilities variables
// ======================================

// Colours
$color-dark: #292e2f;
$color-medium: #555d5a;
$color-light-medium: #f2f2f2;
$color-light: #f8f8f8;
$white: #fff;


$color-accent-red: #e3695c;
$color-accent-blue: #549594;

// Fonts
$font-stack-primary: 'Rubik', sans-serif;

// layout
$max-width: 1000px;

// Border radius
$br: 4px;

//Round image
$round: 50%;

// Break points
$brk-mobile : 'min-width: 320px';
$brk-mobile-wide: 'min-width: 340px';
$brk-tablet : 'min-width: 768px';
$brk-desktop : 'min-width: 1024px';
