// ======================================
//  Layout
// ======================================

.header-nav {
    @include flex($dir: row-reverse, $just: space-around);
    align-items: center;
    h1 {
        margin-left: auto;
        @media ($brk-desktop) {
            margin-right: auto;
            margin-left: 0;
        }
    }
    @media ($brk-desktop) {
        @include flex($dir: row);
        .button {
            display: none;
        }
        .user-name {
            order: 3;
        }
        .icon-bell {
            order: 1;
        }
        img {
            order: 2;
        }
    }
}

.wrapper {
    @include flex($dir: row);
    min-height: 100%;
}

.main-nav-sidebar{
    @include flex($dir: column);
    .navigation {
        @include flex ($dir: column, $just: space-between);
        text-align: center;
    }
}

.content {
    padding: .5em .5em;
    @include center(100%);
    @media ($brk-desktop) {
        padding: 1.5em .5em;
    }
}

//charts
.traffic-labels {
    @include flex($dir: column);
    align-items: center;
    @media ($brk-tablet) {
        @include flex($just: space-between, $dir: row);
    }
    ul {
        @include flex($just: space-between);
    }
}

.secondary-charts {
    @include flex($dir: column);
    @media ($brk-tablet) {
        @include flex($dir: row, $just: space-between);
        .daily-traffic-chart,
        .mobile-users-chart {
            width: 49.5%;
        }
    }
    @media ($brk-desktop) {
        .daily-traffic-chart,
        .mobile-users-chart {
            width: 48.5%;
        }
    }

}

//social stats widgets

.social-stats {
    @include flex($dir: column, $just: space-around);
    @media ($brk-tablet) {
        @include flex($dir: row);
    }
    .social-widget {
        @include flex($dir: row, $just: flex-start);
        align-items: center;
        @media ($brk-tablet) {
            width: 30%;
        }
    }
}
