// ======================================
//  Base styles
// ======================================

* {
  box-sizing: border-box;
  //border: 1px solid lime;
}

html,
body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    @include text($color: $color-light);
    font-weight: 300;
    background-color: $color-light;
}

.content {
    @include text($color: $color-dark);
}

.container {
    padding: .9em;
    margin-bottom: $margin-small;
    @media ($brk-desktop) {
        margin-bottom: $margin-large;
    }
}

// -----------------DRY Selectors------------------//

.space-right {
    margin-right: 1.5em;
}

.text-bold {
    font-weight: 500;
}

.text-light {
    font-weight: 300;
}
