// ======================================
//  Navigation styles
// ======================================

// -----------------Header Nav------------------//

.header-nav {
    background-color: $color-dark;
    height: 3.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    @media ($brk-desktop) {
        background-color: $white;
        height: 4em;
    }
    h1 {
        @include text($color: $color-light, $size: 1.5em);
        @media ($brk-desktop) {
            color: $color-dark;
        }
    }
    .user-name {
        display: none;
        @include text($color: rgba(248, 248, 248, .7), $size: .9em);
        @media ($brk-tablet) {
            display: block;
            padding-left: 1em;
            padding-right: 1em;
            border-left: 1px solid $color-medium;
        }
        @media ($brk-desktop) {
            padding-right: 0;
            color: $color-dark;
        }
    }
}

.button {
    cursor: pointer;
}

// -----------------Main Nav------------------//

.main-nav-sidebar {
    background-color: $color-dark;
    width: 60px;
    transition: margin .3s;
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            margin: 0;
            padding: 1em;
            transition: all .3s;
            &:hover {
                border-left: 4px solid $color-accent-red;
            }
            &.current {
                background-color: $color-dark;
                border-left: 4px solid $color-accent-red;
                @media ($brk-desktop) {
                    background-color: $color-light;
                }
            }
        }
    }
    ul li a {
        display: block;
    }

}

.sidebar-hidden {
    margin-left: -60px;
    @media ($brk-desktop) {
        margin-left: 0;
    }

}
