// ======================================
//  Social widgets styles
// ======================================

.social {
    text-align: center;
    background-color: $white;
    border-radius: $br;
    @media ($brk-tablet) {
        text-align: left;
    }
    @media ($brk-desktop) {
        border-bottom: $border;
    }
    h2 {
        font-size: 1.1em;
        font-weight: 400;
        margin: 0;
        padding: 0 0 .9em 0;
    }
    .social-widget {
        border: 1px solid rgba($color-medium, .1);
        border-radius: $br;
        padding: .5em 1em;
        .social-icon {
            padding: .3em;
            background-color: rgba($color-medium, .1);
            border-radius: $round;
            &.twitter svg {
                    fill: rgba(0, 182, 241, 1);
            }
            &.facebook svg {
                fill: rgba(59, 89, 152, 1);
            }
            &.googleplus svg{
                fill: rgba(223, 74, 50, 1);
            }
        }
        .social-platform {
            margin-left: 1em;
            h3 {
                font-size: 1em;
                font-weight: 400;
                margin: 0;
                padding: 0;
            }
            span {
                font-size: 1.5em;
                font-weight: 400;
            }
        }
    }
}
